@charset "UTF-8";

body {
    background-color: azure;
    color: black;         
}

p { 
    text-align: justify;
    text-indent: 30px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify; 
}

/* Formatação de imagens com legendas */
figure.foto-legenda {
    text-align: center; /* Centraliza a legenda */
}

figure.foto-legenda img {
    width: 20%;
    height: auto; /* Mantém a proporção da imagem */
    border: 3px solid black;
}

figure.foto-legenda figcaption {
    font-size: 14px; /* Tamanho da legenda */
    color: gray; /* Cor da legenda */
}
